{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "semi": "off",
    "keyword-spacing": "off",
    "linebreak-style": 0,
    "no-unused-vars": "warn",
    "operator-linebreak": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
