@import "variables";
@import "mixins";

.excel__toolbar {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  align-items: center;
  display: flex;
  height: $toolbar-height;
  left: 0;
  position: absolute;
  right: 0;
  top: $header-height;

  .button {
    @include button();
  }
}
